.navContainer{
    display: flex;
    justify-content: space-between;
}
.navItem, .logoutBtn{
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
}
.navLink{
    text-decoration: none;
    color:black;
}
.logo{
    width:120px;
    height:120px;
    position:relative;
    margin-top: 130px;
    margin-bottom: 40px;
}
.landingContainer{
    position:relative;
    height:100%;
}
.landingTopBackground{
    background-size: cover;
    width:100%;
    height:570px;
    background-image: url(https://hips.hearstapps.com/hmg-prod/images/190208-delish-ramen-horizontal-093-1550096715.jpg);
    background-repeat: no-repeat;
    background-color: black;
    z-index: 1;
    position:absolute;
}

.landingTopContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
    z-index: 2;
}

